.screenWrapper{
    display: flex;
}


.navbarWrapper{
    min-width: 4em;
    display: flex;
    height: 100vh;
    width: 6%;
    justify-content: center;
    align-items: center;
    background: rgb(255, 255, 255);
}



.navbarInnerWrapper{
    min-height: 18em;
    width: 100%;
    height: 97%;
    flex-direction: column;
    align-items: center;
    display: flex;
    border-right: 0.1em solid #e4e4e4;
}

.prof-pic-wrapper{
    width: 2.1em;
    margin: 0.1em 0 0.1em 0;
    /* border: 0.05em solid black; */
    /* background: red; */
    background: linear-gradient(to right, #7E00A9 , #D4145A);
    height: 2.1em;
    border-radius: 5em;
    display: flex;
    justify-content: center;
    align-items: center;

}

.iconWrapper{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    margin: 0.7em 0 1em 0;
}

.pp{
    width: 2em;
    height: 2em;
    background: #ffffff;
    border-radius: 4.5em;
}
.empty{
    width: 100%;
    height: 1.2em;
}

.messageBubbleWrapper{
    position: absolute;
    left: 127%;
    top: -7%;
    cursor: default;
    /* visibility: hidden; */
}

.bubbleBindToBarry{
    position: relative;
}

.rectangleWrapper{
    position: relative;
    min-width: 10em;
    width: 9em;
    height: fit-content;
    padding: 0.3em 0.8em 0.3em 0.8em;
    border-width: 0.09em;
    border-style: solid;
    border: 0.09em solid #333333;
    border-radius: 0.5em;
    background: #ffffff;
    box-shadow: #d199ff9e 0.1em 0.1em 0.5em 0.005em;
}

.toolTipArrow{
    position: absolute;
    right: 99%;
    top: 14%;
}

#bubble{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.barrySays{
    margin: 0.25em 0em;
}

.barryText{
    margin: 0.25em 0em;
}

.statusBarContainer{
    margin: 0.2em 0 0.2em 0;
    width: 94%;
    height: 1em;
    align-items: center;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: center;
    justify-content: center;
    position: relative;
}

.mainStatusBarWrapper{
    width: 97%;
    display: -ms-flexbox;
    display: flex;
    justify-content: center;
}

.mainStatusBarBgd{
    width: 100%;
    background: #EDE6FF;
    height: 0.5em;
    position: relative;
    border-radius: 2em;
}

.statusBarFill{
    width: 5em;
    background: linear-gradient(to right, #CF94FF , #FF7FB4);
    height: 0.5em;
    border-radius: 2em;
}

.circlesStatusBar{
    display: flex;
    z-index: 1;
    justify-content: space-evenly;
    width: 97%;
    position: absolute;
}

.circleWrapper{
    align-items: center;
    width: 0.75em;
}

.circleStatus{
    width: 0.75em;
    height: 0.75em;
    background: #E0D7FF;
    border-radius: 1em;
}

.circleText{
    color: #a5a5a5;
    font-size: 0.75em;
    top: 1.5em;
    position: absolute;
    text-align: center;
}