@-webkit-keyframes rotateThis {
  from {
    -webkit-transform: rotate(0deg) scale(1);
    transform: rotate(0deg) scale(1); }
  to {
    -webkit-transform: rotate(360deg) scale(1);
    transform: rotate(360deg) scale(1); } }

@keyframes rotateThis {
  from {
    -webkit-transform: rotate(0deg) scale(1);
    transform: rotate(0deg) scale(1); }
  to {
    -webkit-transform: rotate(360deg) scale(1);
    transform: rotate(360deg) scale(1); } }

.navbarWrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  min-width: 4em;
  width: 6%;
  background: #ffffff; }

.navbarInnerWrapper {
  min-height: 18em;
  width: 100%;
  height: 97%;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  border-right: 0.1em solid #e4e4e4; }

.prof-pic-wrapper {
  width: 2.1em 2.1em;
  height: 2.1em 2.1em;
  -webkit-animation: rotateThis 1s linear infinite;
  animation: rotateThis 1s linear infinite;
  border-radius: 100%;
  -webkit-box-shadow: 0 0.05em 0 0 rgba(191, 15, 110, 0.25), 0 -0.05em 0 0 rgba(148, 5, 150, 0.25), 0.05em 0 0 0 rgba(191, 15, 110, 0.25), -0.05em 0 0 0 rgba(148, 5, 150, 0.25), 0.05em -0.05em 0 0 rgba(169, 10, 130, 0.5), -0.05em 0.05em 0 0 rgba(169, 10, 130, 0.5), 0.05em 0.05em 0 0 rgba(212, 20, 90, 0.75), -0.05em -0.05em 0 0 rgba(126, 0, 169, 0.75);
  box-shadow: 0 0.05em 0 0 rgba(191, 15, 110, 0.25), 0 -0.05em 0 0 rgba(148, 5, 150, 0.25), 0.05em 0 0 0 rgba(191, 15, 110, 0.25), -0.05em 0 0 0 rgba(148, 5, 150, 0.25), 0.05em -0.05em 0 0 rgba(169, 10, 130, 0.5), -0.05em 0.05em 0 0 rgba(169, 10, 130, 0.5), 0.05em 0.05em 0 0 rgba(212, 20, 90, 0.75), -0.05em -0.05em 0 0 rgba(126, 0, 169, 0.75);
  margin: 0.1em 0 0.1em 0; }

.iconWrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  cursor: pointer;
  margin: 0.7em 0 1em 0; }

.pp {
  width: 2em;
  height: 2em;
  background: #ffffff;
  border-radius: 4.5em; }

.empty {
  width: 100%;
  height: 1.2em; }

.messageBubbleWrapper {
  z-index: 1;
  position: absolute;
  left: 127%;
  top: -7%;
  cursor: default;
  /* visibility: hidden; */ }

.bubbleBindToBarry {
  position: relative; }

.rectangleWrapper {
  position: relative;
  min-width: 10em;
  width: 9em;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  padding: 0.3em 0.8em 0.3em 0.8em;
  border-width: 0.09em;
  border-style: solid;
  border: 0.09em solid #4d4d4d;
  border-radius: 0.5em;
  background: #ffffff; }

.toolTipArrow {
  position: absolute;
  right: 99%;
  top: 14%; }

#bubble {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center; }

.barrySays, .barryText {
  margin: 0.25em 0em; }

.mainStatusBarWrapper {
  height: 0.75em;
  width: 97%;
  display: -ms-flexbox;
  display: -webkit-box;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center; }

.mainStatusBarBgd {
  width: 100%;
  background: #EDE6FF;
  height: 0.5em;
  position: relative;
  border-radius: 2em; }

.statusBarFill {
  width: 0em;
  background: -webkit-gradient(linear, left top, right top, from(#94E8FF), to(#FF94F3));
  background: -webkit-linear-gradient(left, #94E8FF, #FF94F3);
  background: -o-linear-gradient(left, #94E8FF, #FF94F3);
  background: linear-gradient(to right, #94E8FF, #FF94F3);
  height: 0.5em;
  border-radius: 2em; }

.circlesStatusBar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  z-index: 2;
  -ms-flex-pack: justify;
  -webkit-box-pack: justify;
  justify-content: space-between;
  width: 97%;
  /* top: 10%; */
  position: absolute; }

.circleWrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  width: 0.75em;
  -webkit-transition: 0.5s;
  -o-transition: 0.5s;
  transition: 0.5s; }

.circleStatus {
  width: 0.75em;
  height: 0.75em;
  background: #E0D7FF;
  border-radius: 1em;
  cursor: pointer;
  -webkit-transition: 0.5s;
  -o-transition: 0.5s;
  transition: 0.5s; }

.flexSet {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  position: relative;
  top: 1.25em;
  height: 0px; }

.circleText {
  color: #a5a5a5;
  font-size: 0.75em;
  position: relative;
  text-align: center;
  cursor: pointer;
  -webkit-transition: 0.5s;
  -o-transition: 0.5s;
  transition: 0.5s; }

.circleWrapper:hover .circleText {
  color: #4d4d4d; }

.circleWrapper:hover .circleStatus {
  background: #CF94FF; }

@media screen and (max-width: 1024px) {
  button {
    font-size: 1.2em; }
  .messageBubbleWrapper {
    top: -23%; } }

@media screen and (max-width: 650px) {
  .circleText {
    visibility: hidden; } }

@media screen and (max-width: 520px) {
  .circleText {
    visibility: hidden; }
  button {
    font-size: 1.1em; }
  .messageBubbleWrapper {
    top: -23%; } }
