@import "configVariables";
@import "configMixins";

// main elements start //
html{
    body {margin: 0;padding: 0;font-family: sans-serif;}
    p{margin: 0;font-family:-apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif}
    a,u{text-decoration:none;}
    h1{ font-weight: 100; color: aqua; font-size: 1.5rem; font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif}
}

// main elements end //


.whiteBtn{
    background: $white;
    border: 0.05em solid $darkGrey;
    border-radius: 2em;
    padding: 0.4em 0.5em 0.6em 0.5em;
    outline: none;
    min-width: 6em;
    margin: 0.5em;
    color: $darkGrey;
    cursor: pointer;
    transition:  0.2s;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.whiteBtn:hover{
    /* background: linear-gradient(to left, #D4145A , #D4145A); */
    background: $primaryGreen;
    color: #FFFFFF;
    border: 0.05em solid $primaryGreen;
    /* box-shadow: rgb(126, 0, 169) 0.1em 0.1em 0.2em 0.01em; */

}

.closeButton{
    position: absolute;
    left: 90%;
    top: 4%;
    cursor: pointer;
}


//MEDIAQUERIES //MEDIAQUERIES //MEDIAQUERIES //MEDIAQUERIES //MEDIAQUERIES //MEDIAQUERIES
//MEDIAQUERIES //MEDIAQUERIES //MEDIAQUERIES //MEDIAQUERIES //MEDIAQUERIES //MEDIAQUERIES
//MEDIAQUERIES //MEDIAQUERIES //MEDIAQUERIES //MEDIAQUERIES //MEDIAQUERIES //MEDIAQUERIES

// ipad

@media screen and (max-width: 1024px){

        // Main elements start //

        p{
            font-size: 1.2em;
        }
    
        // Main elements end //


}


@media screen  and (max-width: 520px){

    // Main elements start //

    p{
        font-size: 1.1em;
    }

    // Main elements end //
}

