// variables

$white: #ffffff;

$darkGrey: #333333;
$mediumGrey: #a5a5a5;
$lightGrey: #e4e4e4;

$primaryViolet: #7E00A9;
$lightViolet: #CF94FF;

$primaryMagenta: #D4145A;
$lightMagenta: #FF7FB4;

$primaryGreen: #22B573;
$strongDarkGreen: #00A99D;
$darkGreen: #22B573;