// variables

$white: #ffffff;

$secondaryBlue: #94E8FF;
$secondaryMagenta: #FF94F3;

$primaryGreen: #8CC63F;
$strongDarkGreen: #00A99D;
$darkGreen: #22B573;

$primaryMagenta: #D4145A;
$lightMagenta: #FF7FB4;


$darkGrey: #4d4d4d;
$darkerGrey:  #212529;

$mediumGrey: #a5a5a5;
$lightGrey: #e4e4e4;
$veryLightGrey: #F2F2F2;

$primaryViolet: #7E00A9;
$lightViolet: #CF94FF;

$primaryBrown: #C69C6D;






