/// border-gradient mixin: ///

@mixin border-gradient($from, $to, $weight: 0) {
    $mix-main: mix($from, $to);
    $mix-sub-from: mix($mix-main, $from);
    $mix-sub-to: mix($mix-main, $to);
    
    box-shadow: 0 0.05em 0 $weight rgba($mix-sub-to, .25),
                0 -0.05em 0 $weight rgba($mix-sub-from, .25),
                0.05em 0 0 $weight rgba($mix-sub-to, .25),
                -0.05em 0 0 $weight  rgba($mix-sub-from, .25),
                0.05em -0.05em 0 $weight rgba($mix-main, .5),
                -0.05em 0.05em 0 $weight rgba($mix-main, .5),
                0.05em 0.05em 0 $weight rgba($to, .75),
                -0.05em -0.05em 0 $weight rgba($from, .75);
  }

  /// size mixin: ///

  @mixin size($list...){
      @if length($list) == 1{
        width: nth($list,1);
        height: nth($list,1);
        animation: rotateThis 1s linear infinite;
      }
      @if length($list) == 2{
        width: nth($list,1);
        height: nth($list,2);
      }
  }

  /// Button  mixin :

  @mixin bigButtonPlain{
    background: $white;
    // box-shadow: rgba(74, 74, 74, 0.61) 0.2em 0.2em 0.5em 0.01em;
    box-shadow: rgba(74, 74, 74, 0.16) 0.2em 0.2em 0.5em 0.1em;
 
    border: 0.1em solid $darkerGrey;
    border-radius: 2em;
    @include flexCentreCol;
    outline: none;
    height: 2.8em;
    width: 12em;
    margin: 0.5em;
    color: $darkGrey;
    cursor: pointer;
    transition:  0.2s;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;

  }

  // flex-row -centre mixin:

  @mixin flexCentreRow{
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
  }

    // flex-column -centre mixin:

  @mixin flexCentreCol{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
  }

    // animations
    
  @keyframes rotateThis {
    from {
      transform: rotate(0deg) scale(1);
    }
    
    to {
      transform: rotate(360deg) scale(1);
    }
}