// shakeHands animations start///////////////////////////////////////////
// shakeHands animations start///////////////////////////////////////////
// shakeHands animations start///////////////////////////////////////////

/* The animation code */
@keyframes upAndDown {
    0%   {
        transform: translateY(0px);
    }

    50%  {
        transform: translateY(10px);
    }

    100%  {
        transform: translateY(0px);
    }
}

@keyframes scaleYHighAndLow {
    0%   {
        transform: scaleY(0.95);
    }

    50%  {
        transform: scaleY(1);
    }

    100%  {
        transform: scaleY(0.95);
    }
}

/* The element to apply the animation to */
#shakeHands {
    animation: upAndDown 1.5s infinite;
}

#botBgd {
    transform-origin: 50% 50%;
    animation: scaleYHighAndLow 2s infinite;
}


// shakeHands animations end///////////////////////////////////////////
// shakeHands animations end///////////////////////////////////////////
// shakeHands animations end///////////////////////////////////////////