@import "configVariables";
@import "configMixins";

// Journey page start
.journeyScreen{

    @include flexCentreCol;

    height: 32em;
    justify-content: space-around;

    .congratsBigWrapper{
        @include flexCentreRow;
    }

    .congratsSmallWrapper{
        @include flexCentreRow;
        width:64%;
    }

    .letsGo{
        @include bigButtonPlain;
        border: none;
        font-weight: bold;
        color: $secondaryMagenta;
        background: $darkGrey;
        font-family: arial;
        font-size: 1.5em;
        box-shadow: none;
        &:hover {
            text-decoration: none;
        }

    }

    

    

    .pinkSquare{
        width: 0.3em;
        height: 0.3em;
        background: $secondaryMagenta;
    }

    .emptySquare{
        width: 0.3em;
        height: 0.3em;
        background: $white;
    }

    span{
        width: 1em;
        height: 1em;
    }

    h2{
        font-size: 1.5em;
        text-align: start;
        width: 72%;
        font-family: arial;
        font-weight: 700;
        color: $secondaryMagenta;
    }
    .rightH2{
        text-align: start;
        color: $mediumGrey;
        width: 36%;
    }

    .nectarAnim{
        @include flexCentreRow;

        span{
            height: 2em;
        }

        .outerNecFill{
            height: 0.8em;
            width: 10em;
            background: $lightGrey;
            border-radius: 1em;
            .innerNecFill{
                background: $secondaryMagenta;
                height: 100%;
                border-radius: 1em;
                width: 0%;
            }
        }

        .plusNec{
            width: 100%;
            text-align: center;
            display: none;
            margin:0;
            color: $darkGrey;
        }
    }
}

// Journey page end ///////////////////////

// create card start 

.cardScreen{
    @include flexCentreRow;
    .leftScr{
        @include flexCentreCol;
        padding: 3em;
        h2{
            font-size: 1.5em;
            text-align: center;
            width: 72%;
            font-family: arial;
            font-weight: 700;
            color: $secondaryMagenta;
        }
        
    }
    .rightScr{
        @include flexCentreCol;
        padding: 3em;
        width: 52%;

        h2{
            color: #808080;
            font-size: 2.2em;
        }

        .next{
    
            &:hover {
                text-decoration: none;
            }

            

            @include bigButtonPlain;
                height: 2em;
                width: 8em;
                padding: 1em;
                border-color: $darkGrey;
                box-shadow: none;
                color: $secondaryMagenta;
                font-size: 1.5em;
                font-weight: 600;
                background: $darkGrey;
                transition: 0.5s;

                &:hover{
                    border-color: $secondaryMagenta;
                }

                display: none;
    
        }

        .letSee{
            display: flex;
        }

        .searchKind{
            @include flexCentreRow;
            justify-content: start;
            height: 2.5em;
            min-width: 20em;
            width: 100%;
            border-radius: 0.8em;
            border: 0.1em solid $mediumGrey;
            .searchIcon{
                @include flexCentreRow;
                padding: 0.7em;
            
            }
            input{
                height: 1.6em;
                width: 85%;
                border: none;
                outline: none;
                color: $secondaryMagenta;
                font-family: arial;
                font-size: 1.2em;
            }

            ::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
                color: $secondaryMagenta;
                opacity: 1; /* Firefox */
            }            
        }
        .tagBubbles{
            margin: 1em 0;
            width: 100%;
            height: 11em;
            overflow-y: auto;
            // display: inline-block;
            .bubble{
                background: #ffffff;
                border: 0.1em solid #212529;
                border-radius: 1em;
                outline: none;
                margin: 0.25em;
                cursor: pointer;
                transition: 0.2s;
                font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
                display: inline-block;
                padding: 0.25em 1em;
                border-color: #FF94F3;
                color: #FF94F3;
                font-weight: 600;

                &:hover{
                    // border-color: #FF00FF;
                }
            }

            .selected{
                background: $secondaryMagenta;
                color: $white;
            }
        }

        h1{
            font-size: 1.2em;
        }

        .addProjectKind{
            @include flexCentreRow;
            background: $mediumGrey;
            width: 100%;
            min-height: 2.2em;
            border-radius: 0.5em;
            margin-bottom: 1em;

            

            input{
                background: $mediumGrey;
                color: $white;
                padding: 0.3em 1em;
                border: none;
                width: 70%;
                outline: none;
                border-top-left-radius: 0.5em;
                border-bottom-left-radius: 0.5em;
            }

            ::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
                color: $white;
                opacity: 1; /* Firefox */
            }  

            .addButton{
                @include flexCentreRow;
                text-align: center;
                font-family: Arial, Helvetica, sans-serif;
                font-weight: 600;
                color: $secondaryMagenta;
                cursor: pointer;
                background: $darkGrey;
                min-width: 3em;
                width: 30%;
                min-height: 2.2em;
                border-top-right-radius: 0.5em;
                border-bottom-right-radius: 0.5em;
                
            }
        }

        // Select color styles
        .paletteContainer{
            @include flexCentreCol;
            .colorPalette{
                display: grid;
                grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
                .outerPalette{
                    @include flexCentreCol;
                    width: 2.2em;
                    height: 2.2em;
                    cursor: pointer;
                    margin: 0.2em;
                }
                .palette{
                    width: 2em;
                    height: 2em;
                    border-radius: 1em;
                }
    
    
            }
        }

        .chooseAgain{
            @include flexCentreCol;
            .nextBtn{
    
                &:hover {
                    text-decoration: none;
                }
    
                @include bigButtonPlain;
                    height: 2em;
                    width: 8em;
                    padding: 1em;
                    border-color: $darkGrey;
                    box-shadow: none;
                    color: $secondaryMagenta;
                    font-size: 1.5em;
                    font-weight: 600;
                    background: $darkGrey;
                    transition: 0.5s;
    
                    &:hover{
                        border-color: $secondaryMagenta;
                    }
                    // display: none;
        
            }
            p{
                margin: 1em;
                color: $mediumGrey;
                cursor: pointer;
            }

        }

        

        .hide{
            display: none;
        }
        

        
    }
}


// Media Queries


// ipad

@media screen and (max-width: 1024px){

    .journeyScreen{

        h2{
            text-align: center;
        }

        .congratsBigWrapper{
            @include flexCentreCol;
        }

        .congratsSmallWrapper{
            width:100%;
        }

    }

    .cardScreen{
        @include flexCentreCol;
    }
    
    

}


@media screen and (max-width: 650px){
    .journeyScreen{

        .pinkSquares{
            display: none;
        }

        h2{
            font-size: 1.5em;
            text-align: center;
            width: 85%;
            font-family: arial;
            font-weight: 700;
            color: #FF94F3;
        }

        .rightH2{
            text-align: center;
            color: #a5a5a5;
            width: 100%;
        }



        .congratsSmallWrapper{
            width:100%;
            span{
                height: 0.5em;
            }
            @include flexCentreCol;
        }
    }
    
    
}


// mobiles

@media screen and (max-width: 520px){
    .journeyScreen{

        h2{
            font-size: 1.5em;
            text-align: center;
            width: 85%;
            font-family: arial;
            font-weight: 700;
            color: #FF94F3;
        }

        .rightH2{
            text-align: center;
            color: #a5a5a5;
            width: 100%;
        }

        .congratsSmallWrapper{
            width: 100%;
            span{
                height: 0.5em;
            }
            @include flexCentreCol;
        }
    }
}