@import "configVariables";
@import "configMixins";

.screenWrapper{
    display: flex;
    height: 100vh;
}

.rightScreenContainer{
    width: 94%;
    @include flexCentreCol;
    justify-content: flex-start;

}

.focusScreen{
    width: 100%;
    overflow-y: auto;
    
}

.statusBarContainer{
    opacity: 0;
    width: 100%;
    min-height: 3.5em;
    height: 9vh;
    background: #ffffff;
}

.insideComponent{
    opacity: 1;
    /* opacity: 0; */
    margin: 0.2em 0 2.5em 0;
    width: 100%;
    height: 1em;
    -ms-flex-align: center;
    align-items: center;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: center;
    justify-content: center;
    position: relative;
}

.ideaInputWrapper{

    width: 100%;
    min-height: min-content;

    @include flexCentreRow;
    
    
}


.greenWrapper{
    @include flexCentreRow;
    justify-content: flex-end;
    -ms-flex-align: center;
    align-items: center;
    width: 40%;
    margin: 1em;
    
    // background: linear-gradient(to right, $strongDarkGreen , $darkGreen);
    
}

.ideaElementWrapper{
    @include flexCentreCol;
    width: 100%;
    
    padding: 1em;
    min-height: 32em;
    border-radius: 0.5em;
    background: $primaryGreen;

    span{
        height: 1em;
        width: 1em;
        display: block;
    }
   
    h1{
        max-width: 100%;
        text-align: center;
        color: #ffffff; 
    }
}



.someText{
    margin: 1em;
    padding: 1em 0.2em;
    width: 30%;

    p{
        color: #B3B3B3;
    }

    span{
        height: 0.5em;
        display: block;
    }

    
}

.writeHead{
    @include flexCentreRow;
    width: 100%;
    justify-content: space-around;
} 

.uploadContent{
    @include flexCentreCol;
    width: 100%;
    justify-content: flex-start;

    div:nth-child(4) {
        color: $white;
        
    }

    img{
        width: 65%;
        margin: 1em;
    }


}

.slide3{

    .flexRowDiv{
        height: 5.5em;
        width: 100%;

        div{
            height: 5.5em;
            width: 5.5em;
            background: $white;
            @include flexCentreRow;
            border-radius: 0.5em;
            box-shadow: rgba(74, 74, 74, 0.16) 0.2em 0.2em 0.5em 0.1em;

            img{
                max-width:100%;
                max-height:100%;
                margin: 0em;
                width: 100%;
            }
            
        }
        
        form{
            width: 64%;

        }
    }
}

.slide4{

    .flexRowDiv{
        width: 94%;
        justify-content: space-between;
        overflow-x: auto;
        overflow-y: hidden;
        border-radius: 0.4em;

        .imagesHolder{
            @include flexCentreRow;
            background: #ffffff;
            height: 8em;
            min-width: min-content;
            justify-content: space-between;

            
            
        
            div{
                height: 5.5em;
                min-height: 5.5em;
                width: 5.5em;
                min-width: 5.5em;
                margin: 0.5em;
                background: $white;
                @include flexCentreRow;
                border-radius: 0.5em;
                box-shadow: rgba(74, 74, 74, 0.16) 0.2em 0.2em 0.5em 0.1em;
                position: relative;

                .trippyCloseBtn{
                    position: absolute;
                    right: 0.2em;
                    top: 0.2em;
                }

                img {
                    width: auto;
                    height : auto;
                    max-height: 100%;
                    max-width: 100%;
                    border-radius: 0.5em;
                  }

            }

            

            
        }

        

    }


    .flexRowDiv::-webkit-scrollbar-track
        {
            // -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
            border-radius: 1em;
            height: 0.5em;

            background-color: $lightGrey;
        }
        
        .flexRowDiv::-webkit-scrollbar
        {
            height: 0.6em;
            background-color: $lightGrey;
        }
        
        .flexRowDiv::-webkit-scrollbar-thumb
        {
            border-radius: 0.5em;
            height: 0.5em;
            // -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
            background-color: $secondaryMagenta;
        }
        
}






.uploadContainer{
    @include flexCentreRow;
    width: 95%;
    background: $white;
    border-radius: 2.4em;
    padding: 0.6em 1.2em 0.6em 1.2em;
    box-shadow: rgba(74, 74, 74, 0.16) 0.2em 0.2em 0.5em 0.1em;
    cursor: pointer;
    
    div{
        @include flexCentreRow;
        padding: 0.6em;
        
    }
}


.imgIcon{
    width: 4em;
}

.courageIcon{
    @include flexCentreRow;
    padding: 0.5em;
}

.courageIcon{
    span{
        width: 0.3em;
    }
    p{
        color: #ffffff;
    }
}




.textInputWrapper{
    width: 100%;
    form{
        width: 100%;
        
        @include flexCentreCol;
        justify-content: space-between;
        textarea{
            width: 100%;
            
        }
    }
}


.topStatusCircles{
    width: 90%;
    height: 3em;
    @include flexCentreRow;
    justify-content: space-between;
}

.sCircle{
    @include flexCentreCol;
    width: 6em;
    p{
        color: $white;
    }
}

.aCircle{
    @include flexCentreRow;
    width: 1.5em;
    height: 1.5em;
    
    border: 0.1em solid $white;
    margin: 0.25em;
    border-radius: 1em;
    
    background: $white;
}




// media queries

// ipad

@media screen and (max-width: 1024px){

    .greenWrapper{
        width: 50%;
    }

    .someText{
        p{
            font-size: 1em;
        }
    }


    .statusBarContainer{
        min-height: 3.8em;
    }

}


@media screen and (max-width: 768px){

    .ideaInputWrapper{
        flex-direction: column;
    }

    .writeHead{
        @include flexCentreCol;
        p{
            font-size: 1em;
        }
    }
    
    .greenWrapper{
        width: 98%;
    }
    
    .someText{
        width: 98%;
        padding: 1em;
    }
}




@media screen and (max-width: 520px){

    .ideaInputWrapper{
        flex-direction: column;
    }

    .greenWrapper{
        width: 98%;
    }

    .someText{
        width: 98%;
        padding: 1em;
    }


    .statusBarContainer{
        min-height: 1.5em;
        height: 4vh;
    }
}