@import "configVariables";
@import "configMixins";

.screenWrapper{
    display: flex;
    height: 100vh;
}

.rightScreenContainer{
    width: 94%;
    @include flexCentreCol;
    justify-content: flex-start;

}

.focusScreen{
    width: 100%;
    overflow-y: auto;
    
}

.statusBarContainer{
    opacity: 0;
    width: 100%;
    min-height: 3.5em;
    height: 9vh;
    background: #ffffff;
}

.insideComponent{
    opacity: 1;
    /* opacity: 0; */
    margin: 0.2em 0 2.5em 0;
    width: 100%;
    height: 1em;
    -ms-flex-align: center;
    align-items: center;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: center;
    justify-content: center;
    position: relative;
}

.ideaInputWrapper{

    width: 100%;
    min-height: min-content;

    @include flexCentreRow;
    
    
}

.greenBgd{
        
    @include flexCentreCol;
    width: 42%;
    margin: 3em 0 2em 0;
    height: 55vh;
    border-radius: 0.5em;
    background: linear-gradient(to right, $strongDarkGreen , $darkGreen);

    h1{
        color: #ffffff; 
    }
}

.someText{
    width: 42%;
    min-width: 52vh;
    height: 55vh;
    border-radius: 0.5em;
    background: $lightGrey;
}

.row{
    padding: 0.5em 0.2em;
    background: pink;
    
}

.shinobi{
    color: #ffffff;
    padding: 0.2em 0.2em;
    margin: 0.2em 0.2em;
    background: blueviolet;
    text-align: center;
}


// media queries

// ipad

@media screen and (max-width: 1024px){

    .greenBgd{
        width: 78%;
    }

    .ideaInputWrapper{

        @include flexCentreCol;
        
        }

    .statusBarContainer{
        min-height: 1.5em;
        height: 4vh;
    }

}

@media screen and (max-width: 520px){
   .greenBgd{
       width: 92%;
   }

   .ideaInputWrapper{

    @include flexCentreCol;
    
    }

    .statusBarContainer{
        min-height: 1.5em;
        height: 4vh;
    }
}